<!-- header with nav bar -->
<%- include('Header') -%>



<!-- ====={main start}======= -->
<main class="site-main">

    <section class="project-area area-head">
        <div class="container">
            <div class="jumbotron jumbotron-fluid text-center">
                  <h1 class="display-4">My Journey</h1>
            </div>
        </div>
    </section>

<section class="edu-area">
    <div class="container">

        <div class="card mb-4 journey-card" style="max-width: 70%; ">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../img/portfolio/p1.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Looking for a Full Stack Developer Job</h5>
                  <p class="card-text"> Present</p>
                  <p class="card-text"></p>
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-4 journey-card" style="max-width: 70%; margin-left: auto;">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Project Coordinator</h5>
                  <p class="card-text">@ Ansh InfoTech</p>
                  <p class="card-text">May 2019 - March 2020</p>
                  <p>Planning, Mentoring, Execution and Testing of college student projects on different fields with IOT and Web.</p>  
                  <p><span class="topic-title">Projects:-</span>
                    <ul>
                        <li>Local Basket:- A simple local products selling buying system</li>
                        <li>Smart Extension:- Amazon Alexa Enabled Smart Home Automation System</li>
                        <li>Smart Irrigation:- Android App Control soil monitoring and irrigation System </li>
                        <li>Healthify:- An weight measurement system for monitoring Calories with app</li>
                    </ul>
                </p>
                </div>
              </div>
              <div class="col-md-4">
                <img src="../img/portfolio/p1.jpg" class="card-img" alt="...">
              </div>
            </div>
          </div>

          <div class="card mb-4 journey-card" style="max-width: 70%; ">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../img/portfolio/p1.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Diploma in ECE</h5>
                  <p class="card-text">@ Guru Nanak Dev Polytechnic College, Ludhiana</p>
                  <p class="card-text"><span class="topic-title">Result:-</span> First Class with Honours</p>
                  <p class="card-text"><span class="topic-title">Achievements:-</span>
                <ul>
                    <li>Virtual Voice:- An assistance project for dumb people.</li>
                    <li>2nd Position in PSBTE State Level Project Competition</li>
                    <li>3rd Position in Science City Quiz Competition(Kapurthala)</li>
                    <li>3 times State Topper in Semester Exams</li>
                </ul>
                </p>
                </div>
              </div>
            </div>
          </div>


          <div class="card mb-4 journey-card" style="max-width: 70%; margin-left: auto;">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="col-md-4">
                <img src="../img/portfolio/p1.jpg" class="card-img" alt="...">
              </div>
            </div>
          </div>


          <div class="card mb-4 journey-card" style="max-width: 70%; ">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="../img/portfolio/p1.jpg" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>


          <div class="card mb-4 journey-card" style="max-width: 70%; margin-left: auto;">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Birth Date</h5>
                  <p class="card-text"></p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="col-md-4">
                <img src="../img/portfolio/p1.jpg" class="card-img" alt="...">
              </div>
            </div>
          </div>




    </div>
</section>
  





</main>
<!-- ====={main end}======= -->



<!--  footer with contact page -->
<%- include('Footer') -%>
