    <!-- ======================={start footer area} ================== -->

    <footer class="footer-area" id="footer">
        <div class="container">
          <div class="flex-wrap">
            <div class="site-logo text-center">
              <a href="#"
                ><img
                  src="./img/android-chrome-192x192.png"
                  alt="logo"
                  class="myLogo"
              /></a>
            </div>
            <div class="text-center social">
              <h5 class="title">Find Me</h5>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="https://github.com/proPrincekush"
                ><i class="fab fa-github"></i
              ></a>
            </div>
            <div class="copyrights text-center">
              <p class="para">made by <a href="#" class="title">prince</a></p>
  
              <p>My portfolio website is under Construction..</p>
            </div>
          </div>
        </div>
      </footer>
  
      <!-- ======================={end footer area} ================== -->
  
    <!-- jquery file -->
    <!-- bootStrap js file-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
       integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
       integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  
      <!-- owl carousel js -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" 
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
     
      <!-- custom js file -->
      <script src="js/main.js"></script>
</body>
</html>
  