<!-- header with nav bar -->
<%- include('Header') -%>

<main class="site-main">
<!-- ========================{main area start }================== -->

    <!-- ======================={start banner area} ================== -->

    <section class="site-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12 site-title">
            <h3 class="title-text">Hi</h3>
            <h1 class="title-text title">I'm Prince</h1>
            <h4 class="title-text">Full Stack Developer</h4>

            <div class="d-flex flex-row flex-wrap">
              <button type="button" class="btn button primary-button mr-4">
                Hire Me
              </button>
              <button class="btn button secondary-button">Get CV</button>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <img
              src="./img/banner/banner-image.png"
              alt="banner image"
              class="img img-fluid"
            />
          </div>
        </div>
      </div>
    </section>

    <!-- ======================={end banner area} ================== -->

    <!-- ====================={start About Area } =================== -->

    <section class="about-area" id="about-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="about-image pt-5">
              <img
                src="./img/about-us.png"
                alt="about me"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="about-title">
              <h2 class="pt-5 title">
                <span>Myself</span>
              </h2>
              <div class="paragraph py-4 w-80">
                <p class="para">
                  I'm Prince Kushwaha, a Full Stack Web Developer and
                  Electronics Engineer from Ludhiana(Punjab), India.
                </p>
                <p class="para">
                  I have great passion about technology. I love to create Web
                  Applications, Internet of Things and Python projects.
                </p>
              </div>
              <button class="btn primary-button">Download CV</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ====================={End About Area } =================== -->


</main>









<!--  footer with contact page -->
<%- include('Footer') -%>
