<!-- header with nav bar -->
<%- include('Header') -%>



<!-- ====={main start}======= -->
<main class="site-main container">

    <section class="project-area area-head">
        <div class="container">
            <div class="jumbotron jumbotron-fluid text-center">
                  <h1 class="display-4">Quality Projects</h1>
            </div>
        </div>
    </section>

    <div class="alert alert-primary text-center" role="alert">
       <h3 class="project-section-title"> WEB Projects</h3>
      </div>

    <section class="project" id="project-1">
        <div class="container">
            <div class="card text-center">
                <div class="card-header">
                 <img src="../img/portfolio/keeper.png" alt="Keeper image" class="img-fluid project-img">
                </div>
                <div class="card-body">
                  <h2 class="card-title">Keeper Project</h2>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn" style="background: orange;">Explore</a>
                </div>
              </div>
        </div>
    </section>




</main>
<!-- ====={main end}======= -->



<!--  footer with contact page -->
<%- include('Footer') -%>
