<!-- header with nav bar -->
<%- include('Header') -%>



<!-- ====={main start}======= -->
<main class="site-main container">

    <section class="project-area area-head">
        <div class="container">
            <div class="jumbotron jumbotron-fluid text-center">
                  <h1 class="display-4">Quality Projects</h1>
            </div>
        </div>
    </section>

    <!-- <div class="alert alert-primary text-center" role="alert">
       <h3 class="project-section-title"> WEB Projects</h3>
      </div> -->

    <section class="project" id="project-1">
        <div class="container">
            <div class="card text-center">
                <div class="card-header">
                 <img src="../img/portfolio/keeper.png" alt="Keeper image" class="img-fluid project-img">
                </div>
                <div class="card-body">
                  <h2 class="card-title">Keeper Project</h2>
                  <p class="card-text">A Simple Your Daily Notes and Task Management System</p>
                </div>
                <div class="card-footer">
                    <a href="https://vmnc8.csb.app/" class="btn" >Explore</a>
                </div>
              </div>
        </div>
    </section>

    <section class="project" id="project-2">
        <div class="container">
            <div class="card text-center">
                <div class="card-header">
                 <img src="../img/portfolio/localPartner.png" alt="Keeper image" class="img-fluid project-img">
                </div>
                <div class="card-body">
                  <h2 class="card-title">Local Basket</h2>
                  <p class="card-text">An E-commerce web app for selling and buying local goods in your area</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn" >Explore</a>
                </div>
              </div>
        </div>
    </section>


    <section class="project" id="project-3">
        <div class="container">
            <div class="card text-center">
                <div class="card-header">
                 <img src="../img/portfolio/restro.png" alt="Keeper image" class="img-fluid project-img">
                </div>
                <div class="card-body">
                  <h2 class="card-title">Restro Project</h2>
                  <p class="card-text">A simple Restaurant Quality Rating Web app .</p>
                </div>
                <div class="card-footer">
                    <a href="https://restro.glitch.me/" class="btn" >Explore</a>
                </div>
              </div>
        </div>
    </section>

    <section class="project" id="project-4">
        <div class="container">
            <div class="card text-center">
                <div class="card-header">
                 <img src="../img/portfolio/rest.png" alt="Keeper image" class="img-fluid project-img">
                </div>
                <div class="card-body">
                  <h2 class="card-title">NinjaGo- REST API project</h2>
                  <p class="card-text">A ninja hiring web app based on restful api services.</p>
                </div>
                <div class="card-footer">
                    <a href="https://my-restapi.glitch.me/" class="btn" >Explore</a>
                </div>
              </div>
        </div>
    </section>


    <section class="project" id="project-5">
        <div class="container">
            <div class="card text-center">
                <div class="card-header">
                 <img src="../img/portfolio/Foody.png" alt="Keeper image" class="img-fluid project-img">
                </div>
                <div class="card-body">
                  <h2 class="card-title">Foody Ninja</h2>
                  <p class="card-text">A Simple Food Management Progressive Web App </p>
                </div>
                <div class="card-footer">
                    <a href="https://foody-pwa.web.app/" class="btn" >Explore</a>
                </div>
              </div>
        </div>
    </section>


<div class="text-center" style="color: teal;">
    <h3>Continously Improving...</h3>
</div>

</main>
<!-- ====={main end}======= -->



<!--  footer with contact page -->
<%- include('Footer') -%>
