<!-- header with nav bar -->
<%- include('Header') -%>



<main class="site-main">

    <!-- ====================={start Skill Area } =================== -->

   



    <section class="skill-area" id="skill-area">
      <div class="container">

      <section class=" area-head">
        <div class="container">
            <div class="jumbotron jumbotron-fluid text-center">
                  <h1 class="display-4">My Skills</h1>
            </div>
        </div>
      </section>

        
          <div class="row">
            <div class="col-lg-12 text-center skill-title">
              <p class="para">
                I love to improving myself by learning new technologies and new
                skill. Like to solve complex problems using these Skills and
                Experience.
              </p>
            </div>
          </div>

          <div class="container skill-sets">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="skills">
                  <div class="text-center py-4">
                    <img
                      src="./img/services/react.png"
                      alt="skill 1"
                      class="skill-img img-fluid"
                    />
                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title title">React Developer</h5>
                    <p class="card-text para">
                      JSX, Props, State,Reusable Component, Hooks
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="skills">
                  <div class="text-center py-4">
                    <img
                      src="./img/services/nodejs.png"
                      alt="skill 2"
                      class="skill-img img-fluid"
                    />
                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title title">NodeJs Developer</h5>
                    <p class="card-text para">
                      ExpressJS, Routes, NPM,File-System, Modules, NodeMailer
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="skills">
                  <div class="text-center py-4">
                    <img
                      src="./img/services/front-end.png"
                      alt="skill 4"
                      class="skill-img img-fluid"
                    />
                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title title">Web Designing</h5>
                    <p class="card-text para">
                      HTML, CSS, BootStrap, MaterializeCSS, DOM, JQuery
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="skills">
                  <div class="text-center py-4">
                    <img
                      src="./img/services/python.jpg"
                      alt="skill 3"
                      class="skill-img img-fluid"
                    />
                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title title">Python Developer</h5>
                    <p class="card-text para">
                      Basic, Data Structure, PIP, Modules, OOPs, File-Handling
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="skills">
                  <div class="text-center py-4">
                    <img
                      src="./img/services/php.jpg"
                      alt="skill 4"
                      class="skill-img img-fluid"
                    />
                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title title">PHP & Mysql Developer</h5>
                    <p class="card-text para">
                      Basic, Arrays, Form Handling, CRUD with MySQLi
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="skills">
                  <div class="text-center py-4">
                    <img
                      src="./img/services/mern.jpg"
                      alt="skill 4"
                      class="skill-img img-fluid"
                    />
                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title title">MERN Stack Developer</h5>
                    <p class="card-text para">
                      Interacting With MongoDB, ExpressJs, React Tools and
                      NodeJs
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="skills">
                  <div class="text-center py-4">
                    <img
                      src="./img/services/firebase.png"
                      alt="skill 4"
                      class="skill-img img-fluid"
                    />
                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title title">Firebase Developer</h5>
                    <p class="card-text para">
                      Authentication, FireStore, RealTime DB, Hosting, Storage
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="skills">
                  <div class="text-center py-4">
                    <img
                      src="./img/services/iot.png"
                      alt="skill 4"
                      class="skill-img img-fluid"
                    />
                  </div>
                  <div class="card-body text-center">
                    <h5 class="card-title title">IOT Developer</h5>
                    <p class="card-text para">
                      Arduino, NodeMcu, Sensors, Power-Supply, APIs,MQTT, Http
                    </p>
                  </div>
                </div>
              </div>

              <div class="text-center increasing">
                <p class="inc">Continously increasing....</p>
                <a href="/work" class="btn project-btn" >CheckOut My Projects </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ====================={End Skill Area } =================== -->

     
</main>










<!--  footer with contact page -->
<%- include('Footer') -%>
